<div class="container-fluid bg">
  
  <div class="row">
    <div class="col-sm-5 margin">
      <div class="dropdown padding">
        <h3 class="weight">Find my way</h3>
        <button type="button" class="btn btn-light dropdown-toggle w-100" data-toggle="dropdown">
          From: {{this.fromTitle}}
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <li (click)="onFromSelect(item.value,item.label)" *ngFor="let item of address" class="dropdown-item">
            {{item.label}}</li>
        </div>
      </div>
      <div class="dropdown padding">
        <button type="button" class="btn  btn-light  dropdown-toggle w-100" data-toggle="dropdown">
          To: {{this.toTitle}}
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <li (click)="onToSelect(item.value,item.label)" *ngFor="let item of address" class="dropdown-item">
            {{item.label}}</li>
        </div>
      </div>
      <div class="padding submit">
        <button type="button" [disabled]="getImg()" (click)="onSubmit()" class="btn  btn-primary w-100">Submit</button>
      </div>
      
    </div>
    <div class="col-sm-2 ">
     
    </div>
    <div class="col-sm-5 img-box">
      <div>
        <p *ngIf="imgFlag == true" style="text-align: center;">Showing Route from {{fromTitle}} to {{toTitle}}</p>
        <img *ngIf="imgFlag == true" width="500" height="420" class="center" alt="finder" [src]="imgURL">
      </div>
      <div *ngIf="imgFlag == false">
        <!-- <p style="text-align: center;"> No image for this path please select different source and destination</p> -->
      </div>
      <!-- <div class="card img-fluid" style="width:500px">
        <div class="card-img-overlay">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div> -->
    </div>
  </div>
</div>


<router-outlet></router-outlet>